:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Forum", sans-serif;
    --third-family: "Steelfish", sans-serif;
}
html {
    scroll-behavior: smooth;
    font: 400 2.3364485981vw/1.33 var(--font-family), sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: #fff;
}
a {
    display: contents;
    color: inherit;
    text-decoration-line: inherit;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media (min-width: 428px) {
    html {
        font: 400 10px var(--font-family), sans-serif;
    }
}

body {
    background-color: #000;
    max-width: 428px;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 143%;
    position: relative;
    z-index: -1;
}
.container {
    padding-left: 4.6rem;
    padding-right: 4.6rem;
    margin: 0 auto;
}
.selection {
    justify-content: center;
    padding-left: 4.6rem;
    padding-right: 4.6rem;
    margin: 0 auto;
    position: relative;
    z-index: -1;
    display: grid;

}
.x-center{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.title {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 5rem;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.first-wrap{
    border: 0.1rem solid #4d4c4c;
    border-radius: 2rem;
    width: 36.8rem;
    height: 45rem;
    background: #212121;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.first-wrap img{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 7rem;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}
.top-text{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 147%;
    text-align: center;
    color: #fff;
    margin-top: 4.6rem;
    margin-bottom: 2.5rem;
}
.bot-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 143%;
    text-align: center;
    color: #fff;    
}
.link{
    border: 0.2rem solid #fff;
    border-radius: 15rem;
    width: 36.8rem;
    height: 8rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 7rem;
}
.link > p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 139%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
} 
.options{
    width: 36.8rem;
    height: 23rem;
    background-image: url(../images/1.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2.5rem 2rem 1rem 3rem;
    margin-top: 4.6rem;
}
.options:nth-last-child(1){
 background-image: url(../images/2.png);
}
.options > p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 120%;
    color: #fff;
}
.btn{
    border: 0.2rem solid #f9561d;
    border-radius: 15rem;
    width: 19.9rem;
    height: 5rem;
    background: radial-gradient(55.45% 129.03% at 53.12% 21%, rgb(255, 255, 255) -200%, rgba(249, 86, 29, 1) 100%);
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 179%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 6.5rem;
}