.c2 {
    padding-top: 10rem;

    padding-bottom: 10rem;
}

.c2-wrap{
    height: 21rem;
    width: 36.9rem;
    padding: 1.6rem 0rem 3.1rem 3.6rem;
    background-image: url(../../images/c2-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 2rem;
}
.c2-wrap-02{
    background-image: url(../../images/c2-02.png);
    height: 24rem;
}
.c2-wrap-03{
    background-image: url(../../images/c2-03.png);
}
.c2-wrap-title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 200%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-right: 3.6rem;
}
.c2-wrap-item{
    display: flex;
    gap: 1.6rem;
    align-items: flex-start;
    margin-bottom: 1.4rem;
}
.c2-wrap-item p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 129%;
    color: #fff;
}
.c2-wrap-item img{
    width: 1.5rem;
    height: 1.5rem;
}