.c6-wrap{
    background-image: url(../../images/c6-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3rem;
    height: 95.8rem;
    width: 42.8rem;
    padding: 51.7rem 5.2rem 6.7rem 5.2rem;
}
.c6-undertitle{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 281%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.c6-title{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 281%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
}

.modal{
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    position: fixed;
}
.show{
    visibility: visible;
    z-index: 11;
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
    
}
.close{
    visibility: hidden;
    z-index: -1;
    opacity: 0; 
}
.modal-wrap{
    width: 37rem;
    height: fit-content;
    padding: 2.3rem 2.5rem 4.7rem 2.5rem;
    background: linear-gradient(2deg, #570d11 0%, #c83413 100%);
    border-radius: 2rem;
    border: 1px solid #4d4d4d;;
}
.under-title{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 129%;
text-align: center;
color: #fff;
margin-top: 0.5rem;
margin-bottom: 2rem;
}

.date{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 129%;
text-align: center;
color: #fff;
}
.new{
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    width: 15.8rem;
    height: 5.5rem;
    box-shadow: inset 0 4px 20px 0 #fff6d6;
    background: linear-gradient(180deg, #fff2af 0%, #dcc290 100%), radial-gradient(55.45% 129.03% at 53.12% 21%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 3.7rem;
    line-height: 54%;
    text-align: center;
    color: #4d4837;
    display: flex;
    justify-content: center;
    align-items: center;
}
.old{
    border-radius: 0.5rem;
    width: 14.5rem;
    height: 5.7rem;
    background-image: url(../../images/modal-old.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 67%;
    text-decoration: line-through;
    text-align: center;
    color: #989898;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-prices{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.1rem;
    margin-top: 1.1rem;
}
.input{
    border: 1px solid #3f3f3f;
    border-radius: 1rem;
    width: 32.3rem;
    height: 6.4rem;
    background: #1c1c1c;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 129%;
    text-align: center;
    color: #3f3f3f;
    margin-bottom: 0.5rem;
}
.ps{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 129%;
text-align: center;
color: #fff;
margin-top: 1rem;
}
#hours-fixed,
#minutes-fixed,
#seconds-fixed{
    border-radius: 0.5rem;
    width: 6.7rem;
    height: 4.8rem;
    background: #fff;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 100%;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer-name{
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}
.timer-name p{
    width: 6.7rem;
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.2rem;
line-height: 154%;
text-align: center;
color: #fff;
}
.timer-fixed {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    align-items: center;
    margin-top: 2.1rem;
    margin-bottom: 0rem;
}

.conf{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}
.conf p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
}
.over{
    position: absolute;
    top: -24rem;
    width: 160%;
    max-width: 42.8rem;
    height: 150%;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
    left: -3rem;

}
.modal-btn{
    background: #000;
    border-radius: 1rem;
    border: 0.2rem solid #f2dfb0;
    width: 32.3rem;
    height: 7.5rem;
    margin-top: 1.9rem;
    margin-bottom: 1.4rem;
}
.modal-btn-grad{
    width: 100%;
    height: 100%;
    background:radial-gradient(55.45% 129.03% at 53.12% 21%, rgb(255, 255, 255, 0.2) 0%, rgb(255, 255, 255, 0.01) 100%);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 137%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #fff2af;
    display: flex;
    justify-content: center;
    align-items: center;
}