.c6-wrap{
    background-image: url(../../images/c6-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3rem;
    height: 95.8rem;
    width: 42.8rem;
    padding: 51.7rem 5.2rem 6.7rem 5.2rem;
}
.c6-undertitle{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 281%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.c6-title{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 281%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
}

