.c7{

}

.c7-btn{
    background: #000;
    border-radius: 1rem;
    border: 0.2rem solid #f2dfb0;
    width: 36.9rem;
    height: 8.8rem;
    margin-top: 1.9rem;
}
.c7-btn-grad{
    width: 100%;
    height: 100%;
    background:radial-gradient(55.45% 129.03% at 53.12% 21%, rgb(255, 255, 255, 0.2) 0%, rgb(255, 255, 255, 0.01) 100%);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 137%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff2af;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.1rem;
    padding-right: 5.2rem;
}