.FAQ .title {
    margin-bottom: 3.5rem;
}


.FAQ .accordion-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.FAQ .accordion-item {
    transition: max-height 0.4s ease-out;
    padding: 3rem 0 3rem 0rem;
    border: 1px solid #7b7b7b;;
    border-bottom: none;
    border-left: none;
    border-right: none;
    transition-duration: 0.4s;
}

.FAQ .accordion-item:last-child {
    border-bottom: 1px solid #7b7b7b;;
}

.FAQ .accordion-header:before {
    content: '';
    display: inline-block;
    right: 0;
    width: 1.6rem;
    height: 2.1rem;
    position: absolute;
    background-image: url(../../images/ac-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(0deg);
    transition-duration: 0.4s;
}

.FAQ .accordion-header p {
    font-family: var(--font-family);
font-weight: 500;
font-size: 1.4rem;
color: #fff;
}

.FAQ .accordion-header {
    position: relative;
    display: flex;
    gap: 1.77rem;
}

.FAQ .active .accordion-header:before {
    transform: rotate(45deg);
}

.FAQ .active .accordion-content {
    max-height: 50rem;
    transition-duration: 0.4s;
}

.FAQ .accordion-content {
    overflow: hidden;
    padding: 0;
    max-height: 0;
}

.FAQ .accordion-content p {
    padding-top: 3rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    color: #fff;
    padding-right: 2rem;
}
.FAQ .accordion-content ul{
    padding-top: 3rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    color: #fff;
    padding-right: 2rem;
    padding-left: 3rem;
}
.FAQ .accordion-content li{
    list-style-type: circle !important;
}
.FAQ .accordion-content li::marker{
    color: #fff;
}
