footer {
    padding-top: 8rem;
}

.footer-bg{
    width: 100%;
    padding-top: 3.9rem;
    height: 34rem;
}
.footer-contacts-wrap{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 1rem;
}
.footer-contact{
    border: none;
border-radius: 15rem;
width: fit-content;
height: 4rem;
font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 179%;
text-decoration: underline;
text-decoration-skip-ink: none;
text-align: center;
color: #cacaca;
padding: 0.5rem 2.2rem;
}
.footer-mark{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: -10rem;
    
}

.footer-name{
    background: #000;
    border-radius: 15rem;
    border: 0.2rem solid #f2dfb0;
    width: 26.5rem;
    height: 6rem;
    margin-top: 1.9rem;
}
.footer-name-grad{
    width: 100%;
    height: 100%;
    background:radial-gradient(55.45% 129.03% at 53.12% 21%, rgb(255, 255, 255, 0.2) 0%, rgb(255, 255, 255, 0.01) 100%);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 179%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #fff2af;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}